/* makes sizing simpler */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
html {
  color-scheme: dark light;
}

/* min body height */
body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

:root {
  --c-background: #fff;
  --c-accent: #f94f4f;
  --c-background-dark: #191921;
  --h1: 900 5rem/5.5rem "Commissioner", sans-serif;
  --h2: 900 3.5rem/4rem "Commissioner", sans-serif;
  --h3: 900 1.25rem/2rem "Commissioner", sans-serif;
  --p: 400 1.125rem/2rem "Commissioner", sans-serif;
}

h1 {
  font: var(--h1);
}

h2 {
  font: var(--h2);
}

h3 {
  font: var(--h3);
}

p {
  font: var(--p);
}

body {
  font-family: "Commissioner", sans-serif;
  background-color: var(--c-background);
}