// Custom Properties
:root {
    // colors
    --c-background: #fff;
    --c-accent: #f94f4f;
    --c-background-dark: #191921;

    // font settings
    --h1: 900 5rem/5.5rem 'Commissioner', sans-serif; //80px/88px
    --h2: 900 3.5rem/4rem 'Commissioner', sans-serif; //56px/64px 
    --h3: 900 1.25rem/2rem 'Commissioner', sans-serif; //20px/32px
    --p: 400 1.125rem/2rem 'Commissioner', sans-serif; //18px/32px

}