// Custom Properties
:root {
    // colors
    --accent-clr: hsl(0, 93%, 64%);
    --dark-clr: hsl(240, 14%, 11%);
    --white: hsl(0,0%,100%);
    --black: hsl(0,0%,0%);

    // Mobile font settings
    --h1-m: 900 2.5rem/2.5rem 'Commissioner', sans-serif; //40px/40px
    --h2-m: 900 2rem/2.5rem 'Commissioner', sans-serif; //32px/40px 
    --h3-m: 900 0.9375rem/1.5625rem 'Commissioner', sans-serif; //15px/25px
    --p-m: 400 0.9375rem/1.5625rem 'Commissioner', sans-serif; //15px/25px

    // Tablet font settings
    --h1-t: 900 3.5rem/3.5rem 'Commissioner', sans-serif; //56px/56px
    --h2-t: 900 2rem/2.5rem 'Commissioner', sans-serif; //32px/40px 
    --h3-t: 900 0.9375rem/1.5625rem 'Commissioner', sans-serif; //15px/25px
    --p-t: 400 0.9375rem/1.5625rem 'Commissioner', sans-serif; //15px/25px

    // desktop font settings
    --h1-d: 900 5rem/5.5rem 'Commissioner', sans-serif; //80px/88px
    --h2-d: 900 3.5rem/4rem 'Commissioner', sans-serif; //56px/64px 
    --h3-d: 900 1.25rem/2rem 'Commissioner', sans-serif; //20px/32px
    --p-d: 400 1.125rem/2rem 'Commissioner', sans-serif; //18px/32px
}