@media (max-width: 469px) {
    h1 {
    font: var(--h1-m);
    }
    h2{
        font: var(--h2-m);
    }
    h3 {
        font: var(--h3-m);
    }
    p {
        font: var(--p-m);
    }
    .menubar{
        padding-top: 2.5em;
        height: 6.875em;//110px;
        &__images-container {
            display: flex;
            justify-content: space-between;
            padding-inline: 1.5em;
        }

        &__menu-container {
            // display:none;
            opacity: 0;
        }
        &__menu {
            // display: none;
            
            li {
                text-align: center;
                padding-bottom: 1.5em;
                a {
                    color: var(--white);
                    text-align: center;
                    font-family: Commissioner;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px;
                    text-decoration: none;
                }
                .button {
                    margin: auto;
                }
            }
        }
    }
    .open {
        background-color: var(--dark-clr);
        position: absolute;
        top: 6.875em;
        right: 1.625em;
        display: block;
        width: 15.75em;
        padding-top: 1.625em;
        opacity: 1;
        transition: all .5s;
    }

    #hamburger {
        width: 1.5em;
        height: 1.125em;
        transition: transform 0.3s ease-in-out;
        &:hover {
            transform: rotate(180deg);
        }
    }

    .hero {
        // padding-inline: 1.5em;
        &__banner-img {
            width: 100%; //375px
            height: 15.625em; //250px
            background-image: url('../img/mobile/image-hero.jpg');
            background-repeat: no-repeat;
            background-size: contain;
        }
        &__banner-content {
            padding-inline: 1.5em;
        }
    }

    .section__dark {
    position: relative;
    background-color: var(--dark-clr);
    color: var(--white);
    padding-bottom: 83px;
        img#red-wave {
            width: 63px;
            height: 29px;
            position: absolute;
            top: 190px;
            left: 24px;
        }
        h2 {
            font: var(--h2-m);
            margin-top: 4.5em;
        }
        &-img {
            width: 100%;
            height: 12.5em;
            background-image: url('../img/mobile/image-strategic.jpg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            margin-top: 6em;
        } 
        &-content {
            padding-inline: 1.5em;
            span {
                color: var(--accent-clr);
            }
            p {
                margin-top: 1.5em;
                padding-bottom: 2.5em;
            }
            .text-link {
                color: var(--accent-clr);
                font-family: Commissioner;
                font-size: 15px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
            }
        }
    }

    .section__accent {
        background-color: var(--accent-clr);
        color: var(--white);
        h2 {
            padding-top: 6em;
            padding-inline: 1.5em;
        }
        &-content{
            padding-block: 96px;
            padding-inline: 1.5em;
                .section__list{
                    margin-top: 8.3125em; //133px;
                    margin-left: 1.5em;
                }
                .section__list li:nth-child(1) h3 span::before {
                    content: '01';
                }
                .section__list li:nth-child(2) h3 span::before {
                    content: '02';
                }
                .section__list li:nth-child(3) h3 span::before {
                    content: '03';
                }
                h3 {
                    position: relative;
                    font: var(--h3-m);
                    margin-top: 5.25em; //84px;
                        span {
                            font-size: 5rem;
                            line-height: 5.5rem;
                            opacity: 0.25;
                            position: absolute;
                            top: -44px;
                            left: -17px;
                        }
                    }
                p {
                    margin-top: 1em;
                }
                
                
        }
    }

    .section__slider {
        overflow: hidden;
        position: relative;
        .slide__container {
            // max-width:1407px;
            height: 599px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            
        }
        .slider__slide{
            // display: none;
            position: absolute;
            transition: all 0.5s;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            height: 600px;
            grid-column: span 3;
            .slide__img {
                display: grid;
                justify-content: end;
                align-items: end;
                width: 100%;
                height: 26.4375em;//423px;
                    .slide__img-meta {
                    text-align: right;
                    padding-right: 1.5rem;
                    padding-bottom: 3.1875em; //51px;
                    color: var(--white);
                }
            }
            .slide__project-title {
                font-size: 15px;
                font-style: normal;
                font-weight: 800;
                line-height: 20px;
            }
            .slide__title {
                grid-column: span 2;
                padding-inline: 1.5em;
                padding-top: 4em; //64px;
                background-color: var(--dark-clr);
                color: var(--white);
                h3{
                    font: var(--h2-m);
                    background-color: var(--dark-clr);
                    grid-column: 1 / -1; 
                }
            }
                
        }
    // .slider__slide-active {
    //      display: grid;
    //      grid-template-columns: 1fr 1fr;
    //     grid-template-rows: 1fr 1fr;
    //      height: 600px;
    //      grid-column: span 3;
    //   }
        .slider__slide:nth-child(2) .slide__img {
            background-image: url('../img/mobile/image-slide-1.jpg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            grid-column: span 2;
        }
        .slider__slide:nth-child(3) .slide__img {
            background-image: url('../img/mobile/image-slide-2.jpg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            grid-column: span 2;
        }
        .slider__slide:nth-child(4) .slide__img {
            background-image: url('../img/mobile/image-slide-3.jpg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            grid-column: span 2;
        }
        .slider__nav {
            display: flex;
            padding: .5em 1.5em 4em 1.5em;
            background-color: var(--dark-clr);
        }
    }

    footer.footer {
        padding-block: 6.25em; //100px;
        padding-inline: 1.5em;
        h3 {
            font: var(--h2-m)
        }
    }
}

